{% extends 'base.html' %}

{% block body %}

<section class="hero is-fullheight" style="background-image: url('static/images/img_admin.jpg')";

    <div class="hero-head">
        <nav class="navbar">
            <div class="container">

                <div id="navbarMenuHeroA" class="navbar-menu">
                    <div class="navbar-end">
                        <a href="/index" class="navbar-item">
                            Home
                        </a>
                        
                        <a href="" class="navbar-item">
                            Profile
                        </a>
                        
                        <a href="/signin" class="navbar-item">
                            Login
                        </a>
                        <a href="/signup" class="navbar-item">
                            Sign Up
                        </a>
                        
                        <a href="" class="navbar-item">
                            Logout
                        </a>
                        
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div class="hero-body">
        <div class="container has-text-centered">
            {% block content %}{% endblock %}
        </div>
    </div>
</section>

{% endblock %}	