{% extends 'base.html' %}

{% block body %}

<h2>{{ the_title }}</h2>

<form method='POST' action='/search4'>
<table>
<p>Please, sign up:</p>
<tr><td>Nick:</td><td><input name='nick' type='TEXT' width='60'></td></tr>
<tr><td>Email:</td><td><input name='email' type='EMAIL' value=''></td></tr>
<tr><td>Password:</td><td><input name='passwd' type='PASSWORD' value=''></td></tr>
<tr><td>Password:</td><td><input name='confirmpasswd' type='PASSWORD' value=''></td></tr>
</table>
<p>When you're ready, click this button:</p>
<p><input value='sign up!' type='SUBMIT'></p>
</form>

{% endblock %}
